{% extends 'base.html.twig' %}

{% block title %}Ajouter une operation{% endblock %}

{% block body %}
    <div class="box_compte">
        <div class="box_compte_nom">
            <h2 class="my-2">Ajouter une operation</h2>
        </div>
        
        <div class="box_compte_nom">
            <div class="card animate__animated animate__bounceInRight">
                <div class="card-body">
                    <h5 class="card-title">Compte numéro : {{ compte.id }}</h5>
                    <p class="card-text">{{ compte.type.libelle }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Solde : {{ compte.solde }} €</li>
                </ul>
            </div>
        </div>
        <div class="box_compte_login">
            <div class="table btn-success">
                <div class="box_compte_login">
                    {{ form(form)}}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
