{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="box_compte">
        
        <div class="box_compte_login">
            <h1>Ajouter un nouveau compte</h1>
        </div>

        <div class="box_compte_login">
            
            {% for message in app.flashes('alert') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ include('compte/_form.html.twig') }}

        </div>

    </div>
{% endblock %}
